@model Website_BĐS.Models.USER
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/Agency/Views/Shared/_AgencyLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Change</title>
</head>
<body>
    @using (Html.BeginForm("Change", "Home"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>USER</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID)

            <input type="password" name="oldpass" placeholder="old pass" />
            <input type="password" name="newpass" placeholder="new pass" />
            <input type="password" name="conpass" placeholder="con pass" />

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    @if (ViewBag.mess != null)
    {
        <p>@ViewBag.mess</p>
    }
</body>
</html>
