@model Website_BĐS.Models.ABOUTU

@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

<h2>Welcome to PPC Rental</h2>

<div>
	<hr />
    <dl class="col-md-10" style="margin-right:10%;margin-left:10%">

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

    </dl>
</div>
